*{
    padding: 0;
    margin: 0;
}
.conatiner{
    width: 90%;
    margin: auto;
    
}
 .headings {
   display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 0; 

}
.headings a{
    /* color: red  ; */
  text-decoration:none;
    color:black;
    margin-right:20px;
    font-size:15px;
}
.icons a{
    /* color: red; */
    font-size:22px;
    margin-left:10px;
}
.eatfit{
    text-align:center;
    margin:25px 0;
}
.eatfit a{
    font-size: 30px;
    text-decoration: none;
    
    /* align-items: center; */

}
.foods{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-bottom:25px;
}
.foods a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.foods a:hover{
    color:#ff2f7a;
    border-bottom:2px solid #ff2f7a;
    padding-bottom:5px;
}
.card-container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    margin-left: 150px;
    margin-right: 150px;
    /* justify-content:space-around; */
}
.cards{
    width: calc(33.33% - 20px);
    border:1px solid #ddd;
    border-radius:8px;
    overflow:hidden;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
.cards img{
    width:100%;
    height:220px;
    object-fit:cover;
}
 /* .cards{
    width: 350px;
    border: 1px solid white;
    border-radius: 8px;
    overflow:hidden;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
 }
 .cards img{
    width: 100%;
    height: 220vh;
    object-fit: cover;
 }

  */
.cards h1{
    font-size:20px;
    padding:15px;
}

.cards p{
    padding:0 15px 15px;
    color:#555;
}
.cards a{
    display:block;
    padding:0 15px 15px;
    color:#ff2f7a;
    text-decoration:none;
    font-weight:bold;
}
.date{
    background:#f5f5f5;
    padding:12px 15px;
    font-size:13px;
    color:#666;
}